<div ng-include="'partials/navbar.html'"></div>

<label>Start Date</label>
<div class="row">
    <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="start" is-open="startOpened" min="minStartDate" max="maxStartDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
</div>
<div ng-model="timeStart" ng-change="changed()" style="display:inline-block;">
      <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
</div>
<label>End Date</label>
<div class="row">
    <div class="col-md-6">
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="end" is-open="endOpened" min="minEndDate" max="maxEndDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
</div>

<div ng-model="timeEnd" ng-change="changed()" style="display:inline-block;">
      <timepicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
</div>
<label>Type of Event: </label><input class="form-control" ng-model="typeOfEvent"/>
<label>Title of Event: </label><input class="form-control" ng-model="titleOfEvent"/>

<label>All Day? </label><input type="checkbox" class="form-control" ng-model="allDay"/>
<label>Repeat Event: </label><input type="checkbox" class="form-control" ng-model="repeatEvent"/>
<label>Event Location: </label><input class="form-control" ng-model="eventLocation"/>
<label>Event URL: </label><input class="form-control" ng-model="eventUrl"/>

<button ng-click="createNewEvent()">Create New Event</button>
