<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    Welcome to Sandbox Cooperative Website!

  </p>
  <img src="images/yeoman.png" alt="I'm Yeoman"><br>
</div>

<!-- <div class="row">
  <div class="contributors" ng-repeat="contributor in contributorData">
    <div class="contributor" style='background-image:url("{{contributor.img}}")'>
      <h4 class="contributor-name">{{contributor.name}}</h4>
      <p class="contributor-info">{{contributor.info}}</p>
    </div>
  </div>
</div>
 -->
<div class="footer">
  <p>Made with ♥ in Minneapolis by <a target="_blank" href="https://github.com/cmlizama">Chris Lizama</a> & <a target="_blank" href="https://github.com/gemfarmer">Brian Hedberg</a></p>
</div>
