<div ng-include="'partials/navbar'"></div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="row">
  <div class="contributors" ng-repeat="contributor in contributorData">
    <div class="contributor" style='background-image:url("{{contributor.img}}")'>
      <h4 class="contributor-name">{{contributor.name}}</h4>
      <p class="contributor-info">{{contributor.info}}</p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Made with ♥ in Minneapolis by Chris Lizama & Brian Hedberg </p>
</div>
